<!DOCTYPE html>
<html>
<head>
    <title>Confirmation Page</title>
    <script src="https://randojs.com/1.0.0.js"></script>
    <script>
        function showRandomNumber(){
            document.getElementById("myNumber").innerHTML = rando(60000, 100000);
        }
    </script>
     <style>
        #myNumber{
            font-size:40px;
            font-family:Arial, sans-serif;
            margin-left: 50px;
        }
    </style>
</head>
<body onload="showRandomNumber();" style="background-color: greenyellow;">
    <h1>Your package has confirmed!!! </h1>
    <h2>Congratulations!!</h2>
    <h2>Total amount to be paid: <div id="myNumber"></div></h2>
        <P>{{dest.package_price}}</P>
</body>
</html>
